<!DOCTYPE html>
<html class="">
  <head>
    <meta charset="UTF-8" />

    <!-- The core Firebase JS SDK is always required and must be listed first 
    <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-auth.js"></script>
-->
    <!--
    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyBQYAqbfgaMfmcSLpRdpAHRiG4nDBXurPk",
        authDomain: "curso-1619b.firebaseapp.com",
        databaseURL: "https://curso-1619b.firebaseio.com",
        projectId: "curso-1619b",
        storageBucket: "curso-1619b.appspot.com",
        messagingSenderId: "232338219484",
        appId: "1:232338219484:web:54badf9f4636469b"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>
    
  
 
    <script type="text/javascript">
      initApp = function() {
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            // User is signed in.
            displayName = user.displayName;
            photoURL = user.photoURL;    
            
            $('<img src="'+photoURL+'" alt="" />').appendTo($('.contact-profile'));
            $('<p>'+displayName+'</p>').appendTo($('.contact-profile'));

            
            
            
          } else {
            window.location.replace("/login")
          }
        }, function(error) {
          console.log(error);
        });
      };

      window.addEventListener('load', function() {
        initApp()
      });
    </script>
-->
<link href="../css/principal.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- JQuery  -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Google Scripts -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>
      try {
        Typekit.load({ async: true });
      } catch (e) {}
    </script>

    <!-- CSS's -->
    <link
      rel="stylesheet prefetch"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link
      rel="stylesheet prefetch"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css"
    />
   

    <!-- W3 CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>

  <body style="background-color: #27ae60;" >
    <div id="frame">
      <div class="content">
        <div class="contact-profile">
          <img
            src="https://cdn.glitch.com/647eeef3-1fc5-4a33-aa5b-d50d7841ae68%2Fdownload.jpg?v=1579336465134"
            alt=""
          />
          <p>Debi CLS informática</p>

          <!-- END: Nome e foto do Usuário -->
          <div class="social-media">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
        </div>
        <div class="messages" id="messages">
          <ul>
            <li class="replies">
              <img
                src="https://cdn.glitch.com/647eeef3-1fc5-4a33-aa5b-d50d7841ae68%2Fdownload.jpg?v=1579336465134"
                alt=""
              />
              <p>Olá ! Em que posso ajudar ?</p>
            </li>
          </ul>
        </div>

        <div class="message-input">
          <div class="wrap">
            <input type="text" placeholder="Digite aqui sua mensagem..." />
            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <button class="submit">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(".messages").animate({ scrollTop: $(document).height() }, "fast");

      $("#profile-img").click(function() {
        $("#status-options").toggleClass("active");
      });

      $(".expand-button").click(function() {
        $("#profile").toggleClass("expanded");
        $("#contacts").toggleClass("expanded");
      });

      $("#status-options ul li").click(function() {
        $("#profile-img").removeClass();
        $("#status-online").removeClass("active");
        $("#status-away").removeClass("active");
        $("#status-busy").removeClass("active");
        $("#status-offline").removeClass("active");
        $(this).addClass("active");

        if ($("#status-online").hasClass("active")) {
          $("#profile-img").addClass("online");
        } else if ($("#status-away").hasClass("active")) {
          $("#profile-img").addClass("away");
        } else if ($("#status-busy").hasClass("active")) {
          $("#profile-img").addClass("busy");
        } else if ($("#status-offline").hasClass("active")) {
          $("#profile-img").addClass("offline");
        } else {
          $("#profile-img").removeClass();
        }

        $("#status-options").removeClass("active");
      });

      function newMessage() {
        message = $(".message-input input").val();
        if ($.trim(message) == "") {
          return false;
        }
        $(
          '<li class="sent"><img src="https://cdn.glitch.com/647eeef3-1fc5-4a33-aa5b-d50d7841ae68%2FlogoUsuario.png?v=1579338239880" alt="" /><p>' +
            message +
            "</p></li>"
        ).appendTo($(".messages ul"));
        $(".message-input input").val(null);
        $(".contact.active .preview").html("<span>You: </span>" + message);
        $(".messages").animate({ scrollTop: $(document).height() }, "fast");
        

        let request = $.ajax({
          url: "/detectIntent",
          type: "POST",
          data: {
            texto: message
          },
          dataType: "json"
        });
        request.done(msg => {
          $(
              '<li class="replies"><img src="https://cdn.glitch.com/647eeef3-1fc5-4a33-aa5b-d50d7841ae68%2Fdownload.jpg?v=1579336465134" alt="" /><p>' +
                msg.result.output.generic[0].text+
                "</p></li>"
            ).appendTo($(".messages ul"));
          //alert("respostaa"+JSON.stringify(msg));
          texto = msg[0].queryResult.fulfillmentText;
          //verifica se a resposta só é texto
          if ($.trim(texto) != "") {
            $(
              '<li class="replies"><img src="https://cdn.glitch.com/647eeef3-1fc5-4a33-aa5b-d50d7841ae68%2Fdownload.jpg?v=1579336465134" alt="" /><p>' +
                texto +
                "</p></li>"
            ).appendTo($(".messages ul"));
            
            //$(".messages").animate({ scrollTop: $(document).height() }, "fast");
            $(".messages").animate({ scrollTop: 9999 }, 10);            
          } else {
            //resposta diferente de texto
            resp = msg[0].queryResult.fulfillmentMessages;

            for (let i = 0; resp.length; i++) {
              message = resp[i].message;

              if (message == "card") {
                let html =
                  '<li class="replies">' +
                  '<div class="w3-card-4 test" style="width:90%;max-width:400px;">' +
                  '<img src="' +
                  resp[i].card.imageUri +
                  '" alt="Avatar" style="width:100%;opacity:0.85">' +
                  '<div class="w3-container">' +
                  "<h3><b>" +
                  resp[i].card.title +
                  "</b></h3>" +
                  "<h4><b>" +
                  resp[i].card.subtitle +
                  "</b></h4>" +
                  "<br>" +
                  //'<button class="w3-button w3-block w3-dark-grey" onclick="window.open('+"'"+ resp[i].card.buttons[0].postback + "'"+');">'+ resp[i].card.buttons[0].text + '</button>'+
                  "<br>" +
                  "</div>" +
                  "</div>" +
                  "</li>";
                $(html).appendTo($(".messages ul"));
              } //if card
              else if (message == "quickReplies") {
                replies = resp[i].quickReplies.quickReplies;
                let html = "<h3><b>Escola uma opção</3></b>";
                for (var j = 0; j < replies.length; j++) {
                  html +=
                    "<button class=\"w3-button w3-block w3-dark-grey\" onClick=\"$('.message-input input').val('" +
                    replies[j] +
                    "');newMessge()\">" +
                    replies[j] +
                    "</button>";
                } //fim for
                $(html).appendTo($(".messages ul"));
              } //fim if quick replies
              else if (message == "text") {
                $(
                  '<li class="replies"><img src="https://cdn.glitch.com/647eeef3-1fc5-4a33-aa5b-d50d7841ae68%2Fdownload.jpg?v=1579336465134" alt="" /><p>' +
                    resp[i].text.text +
                    "</p></li>"
                ).appendTo($(".messages ul"));
                //$(".messages").animate({ scrollTop: 9999 }, 1500);
                $(".messages")//.animate({ scrollTop: $(document).height() },   "fast"        );                
                //     alert("asdda");
              } //fim if Text

              if (message == "image") {
               // alert("respostaa image" + JSON.stringify(resp[i].image));                
                
                $('<li class="replies"><img class="imagemd"src="' +
                    resp[i].image.imageUri +
                    '" alt="" style="width:100%;opacity:0.85"/>'+                
                /*
                '<p>' +
                    resp[i].image.accessibilityText +
                    "</p>;
                  */                
                + "</li>"
                ).appendTo($(".messages ul"));                
                //$(".messages")//.animate({ scrollTop: $(document).height() },   "fast"        );                
                
              } //fim if image
              if (message == "scroll") {
                alert("respostaa scroll" + JSON.stringify(resp[i].scroll));                
                
                //animate({ scrollTop: $(document).height() },   "fast"        );
                //     alert("asdda");
              } //fim if Text
            } //for
          } //else
        });
        request.fail();
      } //fim function

      $(".submit").click(function() {
        newMessage();
      });
      $(window).on("keydown", function(e) {
        if (e.which == 13) {
          newMessage();
          return false;
        }
      });
      //# sourceURL=pen.js
    </script>
  </body>
</html>
